# API
VITE_API_BASE_URL=https://e78b-164-100-206-129.ngrok-free.app/api

# Application
VITE_APP_NAME=Government Scheme 360
VITE_APP_VERSION=1.0.0

# Authentication
VITE_TOKEN_KEY=scheme360_token

# Uploads
VITE_UPLOAD_URL=https://e78b-164-100-206-129.ngrok-free.app/uploads
